{#
/**
 * @file
 * Default theme implementation to display a System Message block.
 *
 * Available variables:
 * - wrapper_attributes: array of HTML attributes, intended to be added to the main
 *   container tag of this template.
 * - classes: A list of classes to identify position and styles of the block.
 * - room: The room.
 * - classes: The array of classes.
 *
 * @ingroup themeable
 */
#}

<div class="block block-complete-schedule" {{ wrapper_attributes }}>
  <div class="schedule-header">
    <div class="schedule-row">
      <div class="schedule-row-column schedule-message">{{ message }}</div>
      <div class="schedule-row-column schedule-time">
        <i class="ds-icon ds-icon-time"></i>
        <span class="hours">2</span><span class="separator">:</span><span class="minutes">15pm</span>
      </div>
    </div>
  </div>
  <div class="schedule-table">
    <div class="schedule-table-ongoing">In progress</div>
    <div class="schedule-row schedule-table-ongoing-header">
      <div class="schedule-row-column class-time-frame">
        <span>{{ 'Time'|t }}</span>
      </div>
      <div class="schedule-row-column class-icons">
        <span></span>
      </div>
      <div class="schedule-row-column class-name">
        <span>{{ 'Class Name'|t }}</span>
      </div>
      <div class="schedule-row-column class-room">
        <span>{{ 'Location'|t }}</span>
      </div>
      <div class="schedule-row-column class-trainer">
        <span>{{ 'Instructor'|t }}</span>
      </div>
    </div>
    <div class="schedule-table-upcoming">Up next</div>
    <div class="schedule-row schedule-table-upcoming-header">
      <div class="schedule-row-column class-time-frame">
        <span>{{ 'Time'|t }}</span>
      </div>
      <div class="schedule-row-column class-icons">
        <span></span>
      </div>
      <div class="schedule-row-column class-name">
        <span>{{ 'Class Name'|t }}</span>
      </div>
      <div class="schedule-row-column class-room">
        <span>{{ 'Location'|t }}</span>
      </div>
      <div class="schedule-row-column class-trainer">
        <span>{{ 'Instructor'|t }}</span>
      </div>
    </div>
    {% for class in classes %}
      <div class="schedule-row schedule-row-class" data-from="{{ class.from }}" data-to="{{ class.to }}">
        <div class="schedule-row-column class-time-frame">
          <span class="class-time-frame-from">{{ class.from_formatted }} - {{ class.to_formatted }}</span>
          <div class="class-time-frame-in">starts in 38m</div>
        </div>
        <div class="schedule-row-column class-icons">
          {% if class.in_membership == 0 %}
            <i class="ds-icon ds-icon-icon-paid"></i>
          {% endif %}
        </div>
        <div class="schedule-row-column class-name">
          <span>{{ class.name|raw }}</span>
          <div class="class-progress">
            <div class="class-progress-bar"></div>
          </div>
        </div>
        <div class="schedule-row-column class-room">{{ class.room|raw }}</div>
        <div class="schedule-row-column class-trainer">
          {% if class.substitute_trainer %}
            <span class="glyphicon glyphicon-refresh trainer__substitute__icon"></span>
            <span class="trainer__substituted">{{ class.trainer }}</span>
          {% else %}
            <span>{{ class.trainer }}</span>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  </div>
</div>
