{#
/**
 * @file
 * Default theme implementation to display a System Message block.
 *
 * Available variables:
 * - wrapper_attributes: array of HTML attributes, intended to be added to the main
 *   container tag of this template.
 * - classes: A list of classes to identify position and styles of the block.
 * - room: The room.
 * - classes: The array of classes.
 *
 * @ingroup themeable
 */
#}

<div class="block block-complete-schedule" {{ wrapper_attributes }}>
  <div class="schedule-header">
    <div class="schedule-row">
      <div class="schedule-row-column class-time-frame">
        <span>{{ 'Time'|t }}</span>
      </div>
      <div class="schedule-row-column class-duration">
        <span>{{ 'Duration'|t }}</span>
      </div>
      <div class="schedule-row-column class-name">
        <span>{{ 'Class name'|t }}</span>
      </div>
      <div class="schedule-row-column class-trainer">
        <span>{{ 'Trainer'|t }}</span>
      </div>
      <div class="schedule-row-column class-room">
        <span>{{ 'Room'|t }}</span>
      </div>
    </div>
  </div>
  <div class="schedule-table">
    <div class="schedule-table-ongoing">Ongoing</div>
    <div class="schedule-table-upcoming">Upcoming</div>
    {% for class in classes %}
      <div class="schedule-row schedule-row-class" data-from="{{ class.from }}" data-to="{{ class.to }}">
        <div class="schedule-row-column class-time-frame">
          <span class="class-time-frame-from">{{ class.from_formatted }}</span>
        </div>
        <div class="schedule-row-column class-duration">
          <span class="class-duration">{{ class.duration }}</span>
        </div>
        <div class="schedule-row-column class-name">{{ class.name|raw }}</div>
        <div class="schedule-row-column class-trainer">
          {% if class.substitute_trainer %}
            <span class="glyphicon glyphicon-refresh trainer__substitute__icon"></span>
            <span class="trainer__substituted">{{ class.trainer }}</span>
          {% else %}
            <span>{{ class.trainer }}</span>
          {% endif %}
        </div>
        <div class="schedule-row-column class-room">{{ class.room|raw }}</div>
        <div class="class-progress">
          <div class="class-progress-bar"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
